<footer class="bg-dark text-white text-center py-3 mt-auto">
	<a href="{{ path('site_contact') }}" class="text-white me-3">Contact</a>
	©
	{{ "now"|date("Y") }}
	JC Habitat. Tous droits réservés. Entreprise individuelle au capital de 0 euros
NAF 8121Z
N° Siret: 53363513200020
</footer>