<ul class="nav bg-dark border-bottom border-body" data-bs-theme="dark">
    <li class="nav-item text-light">
		<img src="{{asset('images/Logo-JCHabitat.JPG')}}" alt="Logo" width="50" height="40" class="d-inline-block align-text-top">
	</li>
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="#">Accueil</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Mes prestations</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Contact</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" aria-disabled="true">Demande de devis</a>
	</li>
</ul>
