# Environnements locaux
/.env.dev
/.env.test
/.env.*.local
/.htaccess

# Cache, logs et sessions
/var/

# Dépendances Composer
/vendor/

# Clés SSL locales (si tu utilises symfony serve avec TLS)
/.config/

# Fichiers générés par PHPUnit
.phpunit.result.cache

# Fichiers système
.DS_Store
Thumbs.db
